{{template "base" .}}

{{define "title"}} About Us {{ end }}

{{define "body"}}

<div class="flex flex-row w-screen justify-center cardsectionAlt p-16 my-4">
	<h1 class="flex flex-row justify-center text-6xl font-bold">About Us</h1>
</div>

<div
	class="flex flex-col h-fit p-16 items-center justify-content cardsection w-screen">
	<p class="text-xl p-8 mb-4">
		Welcome! I’m a dedicated tutor with over two years of experience helping
		students excel in GCSE and A Level subjects, including Maths, Physics,
		Computer Science, and Polish language. With a degree in Physics and
		Maths and a background as a software developer, I bring a unique
		combination of technical expertise and educational insight to every
		lesson. My approach is simple: personalized, results-driven learning.
		Whether it’s targeted topic learning, exam preparation, or even CV
		writing and career advice, I tailor each session to the student’s
		specific needs, breaking down complex concepts into clear, manageable
		steps.
		<br />
		<br />
		Having successfully taught over 300 lessons, I’ve seen consistent grade
		improvements in all my students, with an average satisfaction rating of
		4.9 stars. I pride myself on fostering a learning environment that
		builds both knowledge and confidence. My goal is to help students not
		only understand the material but also develop problem-solving skills
		that last far beyond the classroom.
		<br />
		<br />
		Ready to boost your grades and reach your full potential? Let’s get
		started today!
	</p>
</div>

{{ end }}
