{{define "footer"}}
    <div class="card footer" style="padding:20px">
      <div class="flex flex-row justify-between p-2">
        <div> <span>&copy;</span> SageTutoring Ltd 2024</div>
        <div id="empty">
        </div>
        <div class="flex flex-col items-center">
            <p>enquiries.manny@live.co.uk</p>
            <p>+44 7495 400 251</p>
        </div>
      </div>
</div>
{{end}}
