{{template "base" .}}

{{define "title"}} Home {{end}}

{{define "body"}}

<div class="flex flex-col items-center newwidth lg:flex-row lg:justify-center lg:gap-24 xl:gap-48">
    <div class="order-2 lg:order-1 mx-8 my-8 text-xl max-w-96 xl:newwidth">
        <h1 class="text-2xl">Tailored tutoring with rapid results</h1>
        Over 300 successful lessons taught and an average rating of 4.9 stars.
        Are you ready to improve your academic performance? Contact us today!
    </div>
    <div class="order-1 lg:order-2 w-96 xl:newwidth">
       <img src="./static/images/student.jpg">        
    </div>
    <br/>
</div>

<div class="flex flex-col cardsection cardheight w-screen md:flex-row justify-center mt-8 md:justify-between gap-4 ">
    <div class="flex flex-col  min-h-20 lg:w-60 xl:w-96 2xl:w-96 items-center" >
        <h1 class="font-bold text-2xl">Initial Contact</h1>
        <br/>
        <p class="mx-8 text-xl my-2">Contact us now to find out more about how we can help your needs.</p>
    </div>
    <div class="flex flex-col  min-h-20 lg:w-60 xl:w-96 2xl:w-96 items-center">
        <h1 class="font-bold text-2xl">Interview the tutor</h1>
        <br/>
        <p class="mx-8 text-xl my-2">Book an initial interview with a tutor to find the perfect one for your needs.</p>
    </div>
    <div class="flex flex-col  min-h-20 lg:w-60 xl:w-96 2xl:w-96 items-center">
        <h1 class="font-bold text-2xl">Commitment</h1>
        <br/>
        <p class="mx-8 text-xl my-2 ">If you are satisfied, we can book a flexible, consistent time. Let the learning begin.</p>
    </div>
</div>

{{end}}
