{{template "base" .}}

{{define "title"}} Home {{ end }}

{{define "body"}}

<div style="border:1px solid black; height:30%; width:100%; display: grid; grid-template-columns: 10% 40% 40% 10%;">
    <div style="grid-column:2;">
        <h1 class="text-4xl">Tailored tutoring for rapid results</h1>
    </div>
    <div style="grid-column:3;">Pic</div>
</div>

{{ end }}
