{{template "base" .}}

{{define "title"}} Services {{end}}

{{define "body"}}

<div class="flex flex-col  justify-center cardsection p-16">
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
</div>
<div class="flex flex-col  justify-center cardsectionAlt p-16">
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
</div>

<div class="flex flex-col  justify-center cardsection p-16">
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
</div>

<div class="flex flex-col  justify-center cardsectionAlt p-16">
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
    PLACEHOLDER TEXT
</div>
{{end}}
