{{template "base" .}}

{{define "title"}} Services {{end}}

{{define "body"}}

<div class="flex flex-col w-screen justify-center cardsection p-16">
    <h1 class="text-4xl my-8 underline">Subjects taught:</h1>
    <ul class="list-disc" style="padding-inline-start:20px;">
        <li>Maths (GCSE & A-level)</li>
        <li>Physics (GCSE & A-level)</li>
        <li>Computer Science (GCSE & A-level)</li>
        <li>Programming</li>
        <li>Polish Language (As a spoken language)</li>
    </ul>
    <br/>
    <p class="text-xs">*All subjects at &pound40/hour*</p>
</div>
<div class="flex flex-col w-screen justify-center cardsectionAlt p-16">
    <h1 class="text-4xl my-8 underline">Exam preparation</h1>
    <p>We offer personalized one-on-one guidance to help students
    tackle exam papers with confidence. Together, we’ll work through past papers,
    breaking down each question step by step to build a solid understanding of exam
    techniques and key concepts.
    <br/>
    Our tailored approach ensures students are fully prepared for exam questions while
    mastering strategies to manage time and reduce stress. Whether you’re looking to improve 
    your grades or perform at your best on exam day, we are here to support you every step of
    the way!</p>
</div>

<div class="flex flex-col w-screen justify-center cardsection p-16">
    <h1 class="text-4xl my-8 underline">Specialized learning</h1>
    <p>Every student learns differently. That’s why we offer specialized,
    tailored learning sessions for all our subjects,
    where students can bring specific topics they need extra help with.
    <br/>
    We will work closely with each student to break down complex concepts into manageable parts,
    ensuring a solid understanding of the fundamentals before diving into more advanced material.
    With our support, students will not only improve their comprehension but also build the confidence
    to tackle even the most challenging topics.</p>
</div>

<div class="flex flex-col w-screen justify-center cardsectionAlt p-16">
    <h1 class="text-4xl my-8 underline">CV Writing/Advice</h1>
    <p> Our CV writing and advice service offers personalized,
    one-on-one guidance to help you create a CV that highlights your strengths,
    achievements, and unique skills. Whether you're applying for your first job,
    switching careers, or seeking advancement, we’ll work with you to craft a professional,
    tailored CV that aligns with your career goals.
    <br/>
    We’ll also provide expert advice on formatting, keyword optimization,
    and how to present your experience in a way that grabs employers’ attention.
    With our support, you’ll have the tools to confidently pursue the opportunities you
    deserve.</p>
</div>
{{end}}
